{% extends "base.html" %}
{% load static %}
{% block title %}Saint Burger{% endblock %}
{% block head %}{% endblock%}
{% block content %}

<!--CONTENIDO DE LA PAGINA-->

<article class="contenedor_1">

    <div class="item1"><img src="{% static './Img/foto2.JPG' %}" alt="fotos" class="foto">
        <p>Saint Burger abre sus puertas el 6 de agosto de 2016 con una propuesta clara, ofrecer un producto de
            primera calidad y un buen servicio. Un espacio para pasar un buen momento, disfrutar de una exquicita
            comida, buena musica y buena onda.
        </p>

    </div>
    <div class="item1"><img src="{% static 'Img/foto_institucional_2.JPG'%}" alt="fotos" class="foto">
        <p>El bar esta ambientado con murales, tiene mesas comunitarias e individules, tambien hay mesas en la
            vereda. Es un ambiente ideal para reuniones de amigos o trabajo </p>
    </div>
    <div class="item1"><img src="{% static 'Img/foto_institucional_3.JPG'%}" alt="fotos" class="foto">
        <p>Darwin y Bierhaus son la cervezas que nos acompañan desde  el princiopio, son integrantes clave para la
            propuestra que queremos brindar. Ambas tienen productos de exelencia y ganaron premios a nivel nacional
            e internacional.</p>
    </div>
    <div class="item1"><img src="{% static 'Img/foto_institucional_5.JPG'%}" alt="fotos" class="foto">
        <p>Una de las principales caracteristicas de Saint Burger es sin duda la calidad de las materias primas que se
            ultilizan para la elaboración de sus productos. Hay que destacar el blend de la carne, que conbina
            perfectamente las proporciones de cortes magros y grasos.
        </p>
    </div>
</article>
<article class="contenedor_2">
    <div class="item2">
        <p> Una de las pocas hamburgueserías ubicadas en el centro porteño que abre de noche y ofrece una amplia
            propuesta de hamburguesas realizadas con medallones de 200gr de bife de chorizo en su blend. Además, las
            papas fritas que acompañan también son ovacionadas por estar realizadas de papa natural, cortadas a mano
            y con triple cocción. Esta hamburguesería es sin dudas uno de los secretos mejores guardados del Centro
            porteño, con un producto excelente, que al estar sobre Avenida de Mayo ya es uno de los favoritos del
            mundillo de las oficinas de la zona, ya sea para almorzar o para pegar un buen after office.
        </p>
    </div>
</article>
</article>
<article class="contenedor_3">
    <div class="item1"><img src="{% static 'Img/foto_institucional_6.JPG'%}" alt="fotos" class="foto_3">

        <p class="item1">El bar se caracteriza por ofrecer cerveza helada, la variedad de cerveza artesanal esta pensada
            para no dejar
            a nadie afuera, desde rubia cream ale suave hasta una inglish ipa son algunas de las opciones que podes encontrar.
        </p>
    </div>
    <div class="item1"><img src="{% static 'Img/cacfoto8.JPG'%}" alt="fotos" class="foto_3">

        <p>Aparte de poder comer en Saint, tambien tenes opcion tekeaway. Podes hacer tu pedido por whatsapp, rappi y
            pedidosya. Te esperamos para probar unas de las mejores burgers de C.A.B.A y a los que siempre vuelven
            les damos las gracias, seguimos trabajando pera mejorar!
        </p><a href="#arriba">Subir</a>


    </div>
</article>

{% endblock %}
